logs/*
!.gitkeep
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.rpm
*.gz
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store
.idea

pids
results
dist
coverage

node_modules
npm-debug.log

template/**/*.js

.bowerrc
app/bower_components

app/lib/quad-ui-*
app/lib/quad-angular
app/lib/quad-insights
app/test/e2e/config/app_test_brad.config
app/test/e2e/scripts/brad_runner.sh

temp
app_old
app/temp

atlassian-ide-plugin.xml

web.config